@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.main-background {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("./materials/images/pexels-rahul-pandit-2792386.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.player:hover {}

.switch-bg {
    position: absolute;
    left: 95%;
    top: 90%;
    transform: translate(-50%, -50%);
}

footer {
    width: 100%;
    min-height: 25vh;
    background-image: url(./materials/footerwave.svg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

::-webkit-scrollbar {
    width: 0px;
}


/* 
#volume-input {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border-radius: 99px;
    cursor: pointer;
} */


/*General*/

.pointer {
    cursor: pointer;
}

.btn-hvr {
    transition: ease 0.1s;
}

.btn-hvr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-hvr:active {
    background-color: rgba(88, 88, 88, 0.7);
}


/*this added in order to fix a hover bug on mobile devices*/

.activatable-btn:hover {
    opacity: 0.9;
}

.active-btn {
    background-color: rgba(255, 255, 255, 0.3);
}

.black {
    color: #101010;
}

.fs-7 {
    font-size: 14px;
}

.font-40px {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    /*this added in order to fix a hover bug on mobile devices*/
    .activatable-btn:hover {
        opacity: 1;
    }
}